*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
section{
    display: inline-block;


/* HEADER */
}
header > section.header-top{
    height: 75px;
    background-color: #add8e6;
    display: flex;
    justify-content: center;
}
section.header-top > nav{
    background-color: #daa520;
    /* border: 1px solid black; */
    width: 80%;
    margin: 15px auto;
    text-align: center;
}
section.header-top > nav> .logo,
section.header-top > nav> .login
{
    width: 20%;
    
}
section.header-top > nav> .link{
    width: 50%;
    
}





/* CLASSI GENERICHE */
/* Background-color */
.background-color-yellow{
    background-color: #daa520;
}
.background-color-lightblue{
    background-color:add8e6;
}
.background-color-blue{
    background-color:#00008b;
}
.background-color-pink{
    background-color:#ee82ee;
}
.background-color-lightpink{
    background-color:#ffc0cb;
}
.background-color-blue2{
    background-color:#1e90ff;
}
.background-color-lightgray{
    background-color:#d3d3d3;
}
.background-color-green{
    background-color:#228b22;
}
.background-color-gray{
    background-color:#23272a;
}
.background-color-blue3{
    background-color:#20b2aa;
}
.background-color-salmon{
    background-color:#f08080;
}
.background-color-blue4{
    background-color:#7fffd4;
}
.background-color-lightpink2{
    background-color:#ffb6c1;
}
/* Larghezza */