*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

/* Header top */
header > section.header-top{
    height: 80px;
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.header-top > nav{
    background-color: #daa520;
    width: 80%;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.header-top > nav > *{
    border: 1px dashed black;
    line-height: 45px;  
}
section.header-top > nav> .logo,
section.header-top > nav> .login
{
    width: 20%;
}
section.header-top > nav> .link{
    width: 60%;
}
section.header-top > nav > section.logo{
    text-align: start;
    padding-left: 10px; 
}
section.header-top > nav > section.login{
    text-align: end;
    padding-right: 10px; 
}
/* Elementi lista */
nav > section.link > ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav > section.link >ul > li{
    padding: 0 20px;
}


/* Header bottom */
header > section.header-bottom{
    height: 490px;
    background-color: #00008b;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > section.header-bottom > article{
    height: 80%;
    width: 60%;
    background-color: #ee82ee;
}

/* MAIN */
main > section{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section:nth-child(even){
    background-color:#d3d3d3;
}
main > section > div{
    width: 80%;
    height: 80%;
    display: flex;
}
main > section > div > article{
    background-color:#1e90ff;
    width: 60%;  
    height: 100%;
}
main > section > div > aside{
    background-color:#ffc0cb;
    width: 40%;
    height: 100%;
}
main > section.big-section{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section.big-section > div > article{
    width: 100%;
    background-color: #228b22;
}

/* FOOTER */
/* In comune tra le sezioni del footer */
footer > section{
    width: 100%;
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items:center;
    }
footer > section.footer-top > div,
footer > section.footer-bottom > div{
    width: 80%;
}

/* Footer Top */
footer > section.footer-top{
    height: 500px;
}
footer > section.footer-top > div{
    height: 450px;
    display: flex;
}
.footer-top > div > aside{
    width: 30%;
    height: 100%;
    background-color: #f08080
}
.footer-top > div > article{
    width: 70%;
    height: 100%;
    ;
    display: flex;


}
.footer-top > div > article > section{
    width: calc(100%/4);
    height: 100%;
    background-color: #20b2aa;
    border: 1px dashed white;
}

/* footer bottom */
footer > section.footer-bottom{
    height: 100px;
}
footer > section.footer-bottom > div{
    height: 70px;
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > section.footer-bottom > div > *{
    background-color: #ffb6c1;
}
section.footer-bottom > div > section.logo{
    padding: 5px;
}
section.footer-bottom > div > button{
    padding: 5px;
}